[API]
user: <your OpenHouse username (http://openhouseproject.co/signup/)>
password: <your password (http://openhouseproject.co/signup/)>

baseurl: http://api.openhouseproject.co/

# This is the amount of time to sleep between calls to the API
waittime: 0.05

# Should your client do geocoding (preferred)?
# Values:
#   failsafe - Try to geocode, but on failure, send without this information (default)
#   failsecure - Try to geocode, quit on failure
#   none - Do not try to geocode
geocode: failsafe

[AWS]
access_key: <your AWS access_key>
secret_key: <your AWS secret_key>
bucket_name: <your AWS bucketname>
